.flex-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.booking-details {
  margin-right: 50px;
}

.animal-details {
  margin-right: 50px;
  width: 400px;
}

.renter-details {
  margin-right: 50px;
}

.owner-details {
  margin-right: 50px;
}
