.search-bar {
  // width:600px;
  background-color: white;
  // display: flex;
  // padding: 5px;
  height: 100%;
  margin: -5px 0 12px 0;
  outline: none;
  // align-items: center;
  // border-radius: 40px;
  border: none;
  i {
    font-size:25px;
    justify-text: center;
  }
}

.btn-search {
  background-color: white;
  border: none;
  font-size: 25px;
}


.searchbar-wrapper {
  background-color: white;
  border-radius: 20px;
  width: 330px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.serp-searchbar-container {
  border: 1px solid #E0E0E0;
  width: 70%;
  margin: 0 auto;
}
