
<div id='animal-booking-dates'>
    <% if current_user.id != @animal.user_id  %>

       <%= simple_form_for [@animal, @booking] do |f| %>
           <%= f.input :start_date, as: :string, type: :text %>
           <%= f.input :end_date, as: :string, type: :text %>
           <%= f.submit "Book", class: "btn btn-primary" %>
        <% end %>

    <% end %>
 </div>
