<% @bookings.each do |booking| %>
  <% animal = Animal.find(booking.animal_id) %>
  <% user = User.find(booking.user_id) %>
  <p><%= booking.id %></p>
  <p><%= animal.name %></p>
  <p><%= user.email %></p>
  <%= link_to 'delete', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %>
  <hr>
<% end %>
