<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://content.swncdn.com/godvine/pics/GV-Article/GV-crazylionman-13.png);">
  <div class="container">
    <h1>Rent an exotic animal to liven up your next event!</h1>
    <p>Totally a good idea, and not remotely dangerous whatsoever.</p>
    <a class="btn btn-flat" href="#">Search animals now</a>
  </div>
</div>

    <div class="cards">
      <div class="card-category bird">
        Birds
      </div>

      <div class="card-category mammals">
        Mammals
      </div>

      <div class="card-category reptiles">
        Reptiles
      </div>

      <div class="card-category marines">
        Marines
      </div>

      <div class="card-category amphibians">
        Amphibians
      </div>

      <div class="card-category insects">
        Insects
      </div>

      <div class="card-category other">
        Other
      </div>
    </div>
      <%= link_to 'Add new animal', new_animal_path, class: "text-center d-block mb-5" %>

















