<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://content.swncdn.com/godvine/pics/GV-Article/GV-crazylionman-13.png);">
  <div class="container">
    <h1>Rent an exotic animal to liven up your next event!</h1>
    <p>Totally a good idea, and not remotely dangerous whatsoever.</p>

    <div id=searchbar-wrapper>
      <%= form_tag search_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "search-bar",
          placeholder: "Search for an animal.."
        %>
        <%= button_tag(type: 'submit', class: "btn-search") do %>
           <i class="fas fa-search"></i>
        <% end %>
      <% end %>
     </div>
  </div>
</div>



<%= render 'carousel' %>



















