.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-booking-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 3px;
}

.card-trip p {
  font-size: 14px;
  opacity: .7;
  margin: 3px;
}

.card-trip .card-trip-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-infos {
  padding: 30px;
}

#animal-details {
  width: 65%;
}

#price-and-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}
