.homepage-card-product {
  overflow: hidden;
  height: 240px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  text-align: center;
}

.homepage-card-product img {
  height: 100%;
  width: 240px;
  object-fit: cover;
}

.homepage-card-product {
  h2 {
    font-size: 36px;
    font-weight: bold;
  }
  h3 {
    font-size: 24px;
  }
}

.homepage-card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.homepage-card-product .homepage-card-product-infos {
  padding: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #F4F4F4;
}

.paragraph-holder {
  margin-top: 70px;
  margin-bottom: 70px;
  width: 70%;
  text-align: center;
  h1 {
    // font-weight: bold;
    font-size: 3.3rem;
  }
  p {
    font-size: 1.35rem;
  }
}

.bottom-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.cards-container {
  width: 60%;
}

#cards-header {
  text-align: center;
  font-size: 2.5rem;
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 70px;
  padding: 30px;
}
